@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 100;
    src: url('src/fonts/SCDream1.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 200;
    src: url('src/fonts/SCDream2.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 300;
    src: url('src/fonts/SCDream3.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 400;
    src: url('src/fonts/SCDream4.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 500;
    src: url('src/fonts/SCDream5.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 600;
    src: url('src/fonts/SCDream6.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 700;
    src: url('src/fonts/SCDream7.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 800;
    src: url('src/fonts/SCDream8.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: "SCDream";
    font-style: normal;
    font-weight: 900;
    src: url('src/fonts/SCDream9.woff') format('woff');
    font-display: swap;
}

html, body {
    font-family: 'SCDream', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

:root {
    font-family: 'SCDream', sans-serif;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: none;
}

a:hover {
    color: #535bf2;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


input {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    background-color: #f2f2f2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* 사용자의 시스템이 라이트테마나 다크테마인지 탐지 */
@media (prefers-color-scheme: dark) {
    input {
        background-color: #fff;
        color: #000
    }

    button {
        background-color: #fff;
        color: #000
    }

    textarea {
        background-color: #fff;
        color: #000
    }

    select {
        background-color: #fff;
        color: #000
    }
}
